# Server Configuration
PORT=8000

# Database
DB_URL=mongodb://asadkhan997759_db_user:W9NNiSMJvZzy57qF@ac-uy0dlgb-shard-00-00.g4ldfss.mongodb.net:27017,ac-uy0dlgb-shard-00-01.g4ldfss.mongodb.net:27017,ac-uy0dlgb-shard-00-02.g4ldfss.mongodb.net:27017/?ssl=true&replicaSet=atlas-10qcmm-shard-0&authSource=admin&appName=Cluster0
# JWT
JWT_SECRET=hiqfhiuwehiuer
# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com

# Cloudinary
CLOUDINARY_NAME=your-cloudinary-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
